.themeSelector {
  border: 0;
  padding: 0;
  margin: 0;
  min-inline-size: 0;
}

.legend {
  font-size: 1.25rem;
  padding: 0;
  margin-bottom: 2rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.themeLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(25% - 1.5rem);

  &:has(input:checked),
  &:has(input:checked):hover {
    background-color: var(--lightened-primary);
    border-color: var(--lightened-primary);
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
