@use '@/styles/mixins/_media-breakpoints.scss' as *;

.pageWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  padding: 2rem;
  flex: 1;
  margin: 5rem auto 0;
  max-width: 55rem;
  min-width: 23.375rem;

  @include media-breakpoint-up('md') {
    width: 90%;
  }
}
