.quiz,
.summary {
  background-color: var(--dark-gray);
  border: 0.0625rem solid transparent;
  border-radius: .5rem;
  padding: 2rem
}

.summary h2 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
}
